header {
  margin-top:20px;
  font-family: "Courier New";
  font-size:20px;

  nav {
    margin-top:20px;

    img.donate {
      height:50px;
    }
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    a {
        color: #000000;
    }
    a:focus, a:hover {
      color: #F90;
      background: #FFF;
    }

    .active a {
      color: #F90;
      background-color: #FFF;
    }
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}
