.version.f_a_q /* version checker */
{
	color: #0000E7;
	background-color: #F607CA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 524px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -95px;
	width: 0.01px;
}

#u110
{
	z-index: 3;
	min-height: 239px;
	padding-bottom: 14px;
}

#u152-4
{
	z-index: 12;
	width: 65px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 215px;
	left: 266px;
}

#u196
{
	z-index: 36;
	width: 7px;
	margin-right: -10000px;
	margin-top: 208px;
	left: 352px;
}

#pu113
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 23px;
	margin-left: 375px;
}

#u113
{
	z-index: 4;
	width: 288px;
	margin-left: 81px;
}

#pu153-4
{
	width: 0.01px;
	margin-top: 35px;
}

#u153-4
{
	z-index: 16;
	width: 101px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u202
{
	z-index: 38;
	width: 7px;
	margin-right: -10000px;
	left: 118px;
}

#u154-4
{
	z-index: 20;
	width: 89px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 142px;
}

#u205
{
	z-index: 40;
	width: 7px;
	margin-right: -10000px;
	left: 243px;
}

#u155-4
{
	z-index: 24;
	width: 89px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 271px;
}

#u208
{
	z-index: 42;
	width: 7px;
	margin-right: -10000px;
	margin-top: 208px;
	left: 757px;
}

#u156-4
{
	z-index: 28;
	width: 84px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 215px;
	left: 786px;
}

#u211
{
	z-index: 44;
	width: 7px;
	margin-right: -10000px;
	margin-top: 208px;
	left: 878px;
}

#u157-4
{
	z-index: 32;
	width: 70px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 214px;
	left: 907px;
}

#u245
{
	z-index: 55;
	width: 83px;
	margin-right: -10000px;
	margin-top: 203px;
	left: 1015px;
}

#u110-bw
{
	z-index: 3;
	min-height: 239px;
}

#u224-32
{
	z-index: 57;
	width: 520px;
	min-height: 785px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 415px;
	margin-top: 33px;
	position: relative;
}

#u224-10
{
	font-size: 18px;
	line-height: 22px;
}

#u224-2,#u224-7,#u224-12,#u224-17,#u224-22,#u224-27
{
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

#u224-4,#u224-9,#u224-14,#u224-19,#u224-24,#u224-29
{
	font-size: 15px;
	line-height: 18px;
}

#u110_align_to_page,#u111_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	left: -100px;
}

#u111_position_content
{
	margin-bottom: -8px;
	padding-top: 47px;
}

#pu119
{
	width: 0.01px;
	left: 545px;
	position: relative;
}

#u119
{
	z-index: 6;
	width: 25px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u134
{
	z-index: 10;
	width: 30px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 40px;
}

#u134_clip
{
	width: 30px;
	height: 28px;
}

#u125
{
	z-index: 8;
	width: 29px;
	margin-right: -10000px;
	left: 85px;
}

#u125_clip
{
	width: 29px;
	height: 28px;
}

#u134_img,#u125_img
{
	margin-bottom: -2px;
}

#u235-7
{
	z-index: 48;
	width: 320px;
	min-height: 25px;
	left: 441px;
	margin-top: 50px;
}

#u111,#u111-bw
{
	z-index: 2;
	min-height: 168px;
}

#u225
{
	z-index: 46;
	width: 147px;
	margin-left: 850px;
	margin-top: 11px;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-bottom: 116px;
}

#page .verticalspacer
{
	clear: both;
}

