<footer class="text-center">
    <div>
        <a href="http://www.facebook.com/twikkeltheworld" title="Vind ons op Facebook"><img src="/assets/facebook.jpg" /></a>
        <a href="http://www.instagram.com/twikkeltheworld" title="Vind ons op instagram"><img src="/assets/instagram.jpg" /></a>
        <a href="http://www.twitter.com/twikkeltheworld" title="Vind ons op Twitter"><img src="/assets/twitter.jpg" /></a>
    </div>
    <div>
        Papenhulst 26, 5211 LC, den Bosch, Nederland<br />
        <strong>{{ site.time | date: "%Y" }} by Twikkel the World.</strong>

    </div>
</footer>

<script src="/vendor/jquery-{{ site.jquery.version }}.min.js"></script>
<script src="/vendor/bootstrap-{{ site.bootstrap.version }}-dist/js/bootstrap.min.js"></script>
{% include google-analytics.html %}
